<div id="content" class="wrapper">
<img class="cover_img" src="images/cover.jpg">
<div class="cover_title">食品安全衛生管理法
    <div class="ui pointing below label">
      <div class="editors_q">到底在修啥？</div>
    </div></div>
<div class="ui divider"></div>


<div class="index_summary">
為因應食安危機，《食品安全衛生管理法》於 2014 年 10 月展開修法，經9次黨團協商辯論，終於在 2014 年 11 月 18 日完成三讀。在委員會初審通過，朝野達成共識的四個修法項目皆順利三讀通過，而進入朝野協商的五大爭議，通過兩項，一項部分通過，另外兩項最後並未通過。</div>

<div class="index_passed">

<h3>《食管法》初審時，已獲得各黨共識的修改條文：</h3>
<!--  Common 1 -->
<div class="index_passed_item">
<div class="index_passed_title" ng-click="setFocus('common1')">共識 1：自設實驗室 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('common1')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('common1')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('common1'),'index_passed_inner_show':isFocus('common1')}">
    <div class="index_passed_bold">自設實驗室</div>：義美因自設實驗室檢驗產品原料而倖免於油品風暴，獲得外界好評，《食管法》新法將納入「義美條款」，未來上市、上櫃及經中央主管機關公告類別及規模食品業者，應設實驗室自主檢驗。（義美條款）
    <div class="index_passed_note">第七條 “食品業者應實施自主管理，<span class="index_passed_underline">訂定食品安全監測計畫</span>，上市、上櫃及其他經中央主管機關公告類別及規模之食品業者，應設置實驗室，從事前項自主檢驗。”</div>
</div>
</div><!-- end of passed_item -->

<!--  Common 2 -->
<div class="index_passed_item">
<div class="index_passed_title" ng-click="setFocus('common2')">共識 2：電子發票申報 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('common2')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('common2')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('common2'),'index_passed_inner_show':isFocus('common2')}">
    <div class="index_passed_bold">電子發票申報</div>：食品廠商必須分階段使用電子發票，以電子方式申報食品業者應以電子方式申報產品原料、半成品與成品供應來源等資料，以利追溯食品源頭。（電子追溯條款）<div class="index_passed_note">第九條 “中央主管機關為管理食品安全衛生及品質，確保食品追溯或追蹤系統資料之正確性，應就前項之業者，依溯源之必要性，分階段公告使用電子發票。”</div>
</div>
</div><!-- end of passed_item -->

<!--  Common 3 -->
<div class="index_passed_item">
<div class="index_passed_title" ng-click="setFocus('common3')">共識 3：分廠分照 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('common3')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('common3')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('common3'),'index_passed_inner_show':isFocus('common3')}">
    <div class="index_passed_bold">電子發票申報</div>：業者設廠必須「分廠分照」，未來食品廠不能兼營飼料廠，廠區、營業項目需各自獨立，以避免現今食用油及飼料油混用的食安危機。（分廠分照條款）<div class="index_passed_note">第十條 “食品或食品添加物之工廠應單獨設立，不得於同一廠址及廠房同時從事非食品之製造、加工及調配。但經中央主管機關查核符合藥物優良製造準則之藥品製造業兼製食品者，不在此限。”</div>
</div>
</div><!-- end of passed_item -->

<!--  Common 4 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('common4')">共識 4：提高罰鍰 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('common4')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('common4')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('common4'),'index_passed_inner_show':isFocus('common4')}">
    <div class="index_passed_bold">提高罰鍰</div>：增加最高罰鍰至新台幣兩億元，為舊法的三倍。（罰到倒條款）<div class="index_passed_note">第四十二條</div></div>
</div>
</div><!-- end of passed_item -->






<h3>《食管法》初審時，未獲共識的 5 大爭議：</h3>

<!--  Controversy 1 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('controversy1')">爭議 1：法人除罪化 <span class="index_passed_icon text_red"><i class="remove icon"></i>未通過</span><div class="index_passed_title_icon">
<span ng-if="!isFocus('controversy1')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('controversy1')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('controversy1'),'index_passed_inner_show':isFocus('controversy1')}">
    <div><div class="index_passed_bold">法人除罪化</div>：過去《食管法》因「刑事罰優先」規定，且「一罪不兩罰」，導致一年前的「大統長基混油案」業者，在法院判決罰金 3,800 萬後，原新台幣 18.5 億的行政罰鍰遭撤銷，引發外界譁然。如何提高廠商裁罰金額，追討不當得利，成為此次修法重點。</div>
    <div>
    初審時，國民黨團及法務部認為應將「法人除罪化」，民進黨及司法院則認為法人必須承擔刑事責任，但可以藉修法與行政罰鍰併行，避免最終「罰不到」。黨團協商後，決議保留「法人罰金刑」，輔以行政法「沒入」或「追繳」不法利得。</div>
    <div class="index_passed_note">第四十九條之二 “經中央主管機關公告類別及規模之食品業者，違反第十五條第一項、第四項或第十六條之規定；或有第四十四條至第四十八條之一之行為致危害人體健康者，其所得之財產或其他利益，應沒入或追繳之。”</div>
</div>
</div><!-- end of passed_item -->


<!--  Controversy 2 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('controversy2')">爭議 2：吹哨者條款 <span class="index_passed_icon text_red"><i class="remove icon"></i>未通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('controversy2')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('controversy2')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('controversy2'),'index_passed_inner_show':isFocus('controversy2')}">
    <div><div class="index_passed_bold">吹哨者條款</div>：民進黨立委田秋堇認為，「內部員工比稽察人員更知道工廠內部狀況」，應鼓勵員工檢舉。現行《食品安全衛生管理法》規定，食品業者不得因員工揭露食品業者違規而將員工調職、減薪、解僱，應明文立法規定，讓檢舉食品業者的「吹哨者」能獲得訴訟費用的保障，不因檢舉而影響生計。</div>
    <div class="index_passed_note">協商結果：未實質立法</div>
</div>
</div><!-- end of passed_item -->


<!--  Controversy 3 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('controversy3')">爭議 3：消費者保護 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('controversy3')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('controversy3')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('controversy3'),'index_passed_inner_show':isFocus('controversy3')}">
    <div class="index_passed_inner_p"><div class="index_passed_bold">舉證反轉</div>：現行制度中，消費者吃了問題食品受害而像廠商提告，消費者必須負擔舉證責任，而非掌握經手食材的廠商，對消費者相當不利。新法適度反轉舉證責任，食品業者必須證明損害非由自己造成。
    <div class="index_passed_note">第五十六條 “食品業者違反第十五條第一項第三款、第七款、第十款或第十六條第一款規定，致生損害於消費者時，應負賠償責任。但食品業者證明損害非由於其製造、加工、調配、包裝、運送、貯存、販賣、輸入、輸出所致，或於防止損害之發生已盡相當之注意者，不在此限。”</div></div>

    <div class="index_passed_inner_p"><div class="index_passed_bold">食品安全保護基金</div>：可設立食品安全保護基金，補助律師打消費者訴訟官司之報酬、同時補助勞工因檢舉雇主違反本法之行為，遭雇主解僱等之訴訟費用。
    <div class="index_passed_note">第五十六條之一 “中央主管機關為保障食品安全事件消費者之權益，得設立食品安全保護基金，並得委託其他機關（構）、法人或團體辦理。一、補助消費者保護團體因食品衛生安全事件依消費者保護法之規定，提起消費訴訟之律師報酬及訴訟相關費用。三、補助勞工因檢舉雇主違反本法之行為，遭雇主解僱、調職或其他不利處分所提之回復原狀、給付工資及損害賠償訴訟之律師報酬及訴訟相關費用。”</div></div>
</div>
</div><!-- end of passed_item -->


<!--  Controversy 4 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('controversy4')">爭議 4：食安會報入法 <span class="index_passed_icon text_green"><i class="check circle icon"></i>通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('controversy4')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('controversy4')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('controversy4'),'index_passed_inner_show':isFocus('controversy4')}">
    <div class="index_passed_inner_p"><div class="index_passed_bold">食安會報入法</div>：過去的「食安會報」為臨時編組，由行政院副院長擔任召集人，遇重大食品問題才召開。新法中，食安會報將提升層級，常態負責食安問題，進行跨部會整合，由行政院長擔任召集人，至少每三個月開一次會。
    <div class="index_passed_note">第二條之一 “為加強全國食品安全事務之協調、監督、推動及查緝，行政院應設食品安全會報，由行政院院長擔任召集人，召集相關部會首長、專家學者及民間團體代表共同組成，職司跨部會協調食品安全風險評估及管理措施，建立食品安全衛生之預警及稽核制度，至少每三個月開會一次，必要時得召開臨時會議。召集人應指定一名政務委員或部會首長擔任食品安全會報執行長，並由中央主管機關負責幕僚事務”</div>
    <div class="index_passed_note">“各直轄市、縣（市）政府應設食品安全會報，由各該直轄市、縣(市)政府首長擔任召集人，職司跨局處協調食品安全衛生管理措施，至少每三個月舉行會議一次。”</div>
    </div>
</div>
</div><!-- end of passed_item -->

<!--  Controversy 5 -->
<div class="index_passed_item"><div class="index_passed_title" ng-click="setFocus('controversy5')">爭議 5：中央設「食品警察隊」協助稽察 <span class="index_passed_icon text_yellow"><i class="minus icon"></i>部分通過</span>
<div class="index_passed_title_icon">
<span ng-if="!isFocus('controversy5')"><i class="angle double down icon"></i></span>
<span ng-if="isFocus('controversy5')"><i class="angle double up icon"></i></span>
</div>
</div>
<div class="index_passed_inner" ng-class="{'index_passed_inner_hide':!isFocus('controversy5'),'index_passed_inner_show':isFocus('controversy5')}">
    <div class="index_passed_inner_p"><div class="index_passed_bold">中央設「食品警察隊」協助稽察</div>：民進黨立委田秋堇、林淑芬等人餿水油風暴中，衛生人員赴工廠稽察時常碰壁，甚至受到業者威脅。希望改由中央政府配置「食品警察隊」，協助食品衛生稽查人員，排除稽查及取締違法之組礙。但最後修法結果中，僅列警察應協助，並為在警察機關獨立出「食品警察隊」。
    <div class="index_passed_note">第四十二條之一 “為維護食品安全衛生，有效遏止廠商之違法行為，警察機關應派員協助主管機關。”</div>
    </div>
</div>
</div><!-- end of passed_item -->


</div><!-- end of wrapper -->