<div id="content" class="wrapper">
<img class="cover_img" src="images/cover.jpg">
<div class="cover_title">食品安全衛生管理法
    <div class="ui pointing below label">
      <div class="editors_q">到底在修啥？</div>
    </div></div>
<div class="ui divider"></div>

<div class="index_passed">

<p>油品風暴延燒，《食品安全衛生管理法》受各界關注。《食品安全衛生管理法》於十月16日由社會福利及衛生環境委員會逐條審查完畢，初審通過許多外界矚目的重要條文，將交付立法院院會二、三讀：</p>

<ul>
<li><div class="index_passed_title">1. 自設實驗室</div>（第七條）：義美因自設實驗室檢驗產品原料而倖免於油品風暴，獲得外界好評，《食管法》新法將納入「義美條款」，未來上市、上櫃及經中央主管機關公告類別及規模食品業者，應設實驗室自主檢驗。（義美條款）</li>

<li><div class="index_passed_title">2. 電子發票申報</div>（第九條）：食品廠商必須分階段使用電子發票，以電子方式申報食品業者應以電子方式申報產品原料、半成品與成品供應來源等資料，以利追溯食品源頭。（電子追溯條款）</li>

<li><div class="index_passed_title">3. 分廠分照</div>（第十條）：業者設廠必須「分廠分照」，未來食品廠不能兼營飼料廠，廠區、營業項目需各自獨立，以避免現今食用油及飼料油混用的食安危機。（分廠分照條款）</li>

<li><div class="index_passed_title">4. 提高罰鍰</div>（第四十二條）：增加最高罰鍰至新台幣兩億元，為舊法的三倍。（罰到倒條款）</li>
</ul>

<p>但衛環委員會中還有許多重要條文未達共識，經朝野協商條文會如何調整？是否推翻原有討論？</p>

<h3 class="ui header">《沃草》整理了朝野協商五大重點爭議懶人包，讓大家一起關注《食品安全衛生管理法》修法動態！</h3>


<div class="index_issue" ng-click="go('issue1')">
  <div class="index_issue_inner">
  <h2 class="ui header">爭議一：法人除罪化 <div class="ui circular red label">朝野協商處理</div> </h2>
  <div class="bullet_item">
      為何重要：食安問題人心惶惶，但最後裁罰的結果，往往和不法業者的巨額獲利比例懸殊。究竟要如何才能罰得到？
  </div>
  <div class="goseeblock">
    <div class="goseebutton" >查看</div>
  </div>
  </div>
</div><!-- end of index_issue -->

<div class="index_issue" >
  <div class="index_issue_inner">
  <h2 class="ui header">爭議二：吹哨者條款 <div class="ui circular red label">朝野協商處理</div> </h2>
  <div class="bullet_item">
      為何重要：要揪出黑心食品，內部員工往往比稽察人員更知道工廠內部狀況。我們能夠過保護吹哨者，來建立更好的食安嗎？
  </div>
  <div class="goseeblock">
    <div class="goseebutton" ng-click="go('issue2')">查看</div></div>
  </div>
</div><!-- end of index_issue -->

<div class="index_issue" >
  <div class="index_issue_inner">
  <h2 class="ui header">爭議三：消費者保護 <div class="ui circular red label">朝野協商處理</div> </h2>
  <div class="bullet_item">
      為何重要：2008 年的三聚氰氨事件中，消費者因難舉證身體受到侵害而無法順利求償。此修法將舉證責任回歸廠商，同時補助消費訴訟的相關費用。
  </div>
  <div class="goseeblock">
    <div class="goseebutton" ng-click="go('issue3')">查看</div></div>
  </div>
</div><!-- end of index_issue -->

<div class="index_issue" >
  <div class="index_issue_inner">
  <h2 class="ui header">爭議四：「食安會報」入法  <div class="ui circular red label">朝野協商處理</div></h2>
  <div class="bullet_item">
      目前的食安會報是任務型編組，只有在問題發生時才開會因應，但應變會議無法常態處理食安問題。<br/><br/>
  </div>
  <div class="goseeblock">
    <div class="goseebutton" ng-click="go('issue3')">查看</div></div>
  </div>
</div><!-- end of index_issue -->

<div class="index_issue" >
  <div class="index_issue_inner">
  <h2 class="ui header">爭議五：中央設「食品警察隊」協助稽察  <div class="ui circular red label">朝野協商處理</div></h2>
  <div class="bullet_item">
      餿水油風暴中，衛生人員赴工廠稽察時常碰壁，甚至受到業者威脅。提案改由中央政府配置「食品警察隊」，協助食品衛生稽查人員，排除稽查及取締違法之組礙。
  </div>
  <div class="goseeblock">
    <div class="goseebutton" ng-click="go('issue3')">查看</div></div>
  </div>
</div><!-- end of index_issue -->
</div><!-- end of wrapper -->