<div id="content" class="wrapper">
  <div class="ui segment">
  
  <!-- <div class="ui ribbon red label">朝野協商處理</div>-->
  <h1 class="page_title">爭議三：消費者保護（舉證反轉 + 補助訴訟費用） <div class="ui circular red label">尚無共識，朝野協商處理</div></h1>
  
  <div class="bullet_item">
      <div class="bullet_item_title">為何重要</div>
      <div class="bullet_item_inner">
        <ul>
          <li>舉證反轉：2008 年的三聚氫氨事件中，消費者因難舉證身體受到侵害而無法順利求償。此修法將食安受害的舉證責任，由受害消費者轉移為業者，讓舉證責任回歸廠商。</li>
          <li>律師打消費者訴訟官司有報酬：可讓更多律師加入投入消保相關訴訟。</li>
          <li>食品安全保護基金補助訴訟：食安基金可以用來補助消保相關訴訟費，以及補助「吹哨者」因檢舉僱主，遭不當對待時之訴訟費。</li>
        </ul>
      </div>   
  </div>
  <div class="bullet_item">
      <div class="bullet_item_title">目前進度</div>
      <div class="bullet_item_inner">
        <ul>
          <li>舉證反轉（第五十六條）：無共識，保留待朝野協商。</li>
          <li>律師打消費者訴訟官司有報酬（第五十六條）：初步達成共識。</li>
          <li>食品安全保護基金補助訴訟（第五十六條之一）已有共識通過，但因需搭配尚無共識的<a href="/issue1" class="link">「法人除罪化」</a>（四十九條之二）修正，先予以保留。</li>
      </div>
  </div>

  
  <div ng-include src="'partials/bill_progress.html'"></div>

  <div class="ui divider"></div>
  <div ng-include src="'partials/position_block.html'"></div>


  <div class="position_block">
    <div class="position_title position_title_for">支持理由</div>
    <div class="position_inner">
    <h4 class="ui header">舉證反轉</h4>
    <ol>
      <li>消費者食用黑心食品難以證明對身體的傷害，舉證責任應轉移給廠商。</li>
      <li>這次如果不是消費者發起拒買活動，頂新依然故我，因為「損害賠償」難以成立。</li>
    </ol>
    </div>
  </div>
  <div class="position_block">
    <div class="position_title position_title_against">異議理由</div>
    <div class="position_inner">
      <h4 class="ui header">舉證反轉</h4>
        <ol>
          <li>即使修改條文，消費者進入實際訴訟後仍有責任提出具體損害證明，怕大家誤會將全由廠商舉證。</li></ol>
      </div>
  </div>
  <div class="position_block">
    <div class="position_inner">
    <h4 class="ui header">律師打消費者訴訟官司有報酬</h4>
    <ol>
      <li>透過開放報酬，可以讓更多「年輕卻還沒有財力的律師」投入消保相關訴訟。</li>
    </ol>
    <!-- 小編想說 -->
    </div>
  </div><!-- end of position block -->
  <div class="position_block">
    <div class="position_inner">
        <h4 class="ui header">律師打消費者訴訟官司有報酬</h4>
        <ol>
          <li>現行由消基會接手的重大團體訴訟，都是委任義務律師，若可以請求服務報酬，將使消保團體運作困難。</li>
           
        </ol>
    </div>
    <!--
    <div class="ui pointing below label">
      <div class="editors_q">小編想問</div>
    </div>
    <ul><li></li></ul>
    -->

  </div><!-- end of position block -->

 
  <div class="ui divider"></div>
  
  
  <div id="text_content">
    <!-- <div id="text_nav">NAV</div> -->
  <!-- 修法背景 -->
  <h1 class="ui header">修法背景</h1>
  <p>2011年的三聚氫氨事件中，消費者因難舉證身體受到侵害而無法順利求償，民進黨團及田秋堇等委員分別提案修訂《食安法》第五十六條，若消費者不能證明「有損害」，也可依侵害求償，讓舉證責任回歸廠商。</p>

  <p>此外，過去消費者相關團體訴訟，多由消基會「志工律師」代為集體訴訟，民進黨立委田秋堇希望能放寬限制，「讓訴訟能請求報酬」，使更多律師能投入消費者訴訟官司。</p>


  <!-- 對應條文 -->
  <h1 class="ui header">對應條文</h1>
  <p>《食品安全衛生管理法》第五十六條、第五十六之一條。</p>

  
  <!-- 對應條文 -->
  <h1 class="ui header">初審修法內容</h1>
  
  <h4 class="ui header">第五十六條</h4>
  <p>田秋堇表示，消費者食用黑心食品難以證明對身體的傷害，舉證責任應轉移給廠商。尤美女也認為，這次如果不是消費者發起拒買滑動，頂新依然故我，因為「損害賠償」難以成立。</p>

  <p>但司法院表示，即使修改條文，消費者進入實際訴訟後仍有責任提出具體損害證明，怕大家誤會將全由廠商舉證。國民黨立委皆支持司法院看法。</p>

  <p>此外，田秋堇表示，現行《消保法》條文中，為保護消費者權利，不能跟受害消費者要求律師費，旨在保護受害消費者，但實際上受害消費者難以找到義務律師。透過開放報酬，可以讓更多「年輕卻還沒有財力的律師」投入消保相關訴訟。</p>

  <p>消保處表示，目前同事件受害消費者超過二十人，能轉讓請求權，也就是使消基會當原告，提起集體訴訟，訴訟金額若超過新台幣六十萬皆不需支付。《消保法》現況是受害消費者委託消保團體提起團體訴訟，所有消費者都不能收取報酬。消保處擔心，現行由消基會接手的重大團體訴訟，都是委任義務律師，若可以請求服務報酬，將使消保團體運作困難。</p>

  <h4 class="ui header">第五十六之一</h4>

  <p>民進黨團提案增列「食品安全保護基金」用途，則在委員會中初達共識，補助提起消費訴訟律師的報酬與訴訟相關費用，以及補助勞工因檢舉僱主而遭不當對待時，訴訟等相關費用也由食安基金支付。</p>

  
  <!-- 初審後續 -->
  <h1 class="ui header">初審後續</h1>
  <p>第五十六條，因「轉移舉證」責任有適法性疑慮，保留待朝野協商。第五十六條之一（食品安全保護基金補助訴訟費用）已有共識，因需搭配四十九條之二「法人除罪化」修正，先予以保留。</p>

  <h1 class="ui header">相關報導</h1>
  <div class="ui list">
  <a class="item link" href="http://bit.ly/1qYTOmV" target="_blank">
    <i class="right triangle icon"></i>
    食管法完成初審 綠委憂再遭大廠遊說翻盤 / 風傳媒
  </a>
  </div>


  
  <div><!-- end of text_content -->

</div><!-- end of ui segment -->
</div><!-- end of wrapper -->