<div id="content" class="wrapper">
  <div class="ui segment">

  <!-- <div class="ui ribbon red label">朝野協商處理</div>-->
  <h1 class="page_title">爭議二：吹哨者條款 <div class="ui circular red label">尚無共識，朝野協商處理</div></h1>

  <div class="bullet_item">
      <div class="bullet_item_title">為何重要</div><div class="bullet_item_inner">要揪出黑心食品，內部員工往往比稽察人員更知道工廠內部狀況。我們能夠過保護吹哨者，來建立更好的食安嗎？</div>
  </div>
  <div class="bullet_item">
      <div class="bullet_item_title">目前進度</div><div class="bullet_item_inner">委員會初審無共識，將於 10/29 (三) 由王金平院長召開朝野協商處理。</div>
  </div>


  <div ng-include src="'partials/bill_progress.html'"></div>

  <div class="ui divider"></div>
  <div ng-include src="'partials/position_block.html'"></div>


  <div class="position_block">
    <div class="position_title position_title_for">支持理由</div>
    <div class="position_inner">
    <ol>
      <li>「內部員工比稽察人員更知道工廠內部狀況」，應鼓勵員工檢舉，並保障檢舉人不因此被解僱、調職、減薪。</li>
      <li>同時，讓檢舉食品業者的「吹哨者」能獲得訴訟費用的保障，不因檢舉而影響生計。</li>
    </ol>

    </div>
  </div><!-- end of position block -->
  <div class="position_block">
    <div class="position_title position_title_against">異議理由</div>
    <div class="position_inner">
        <ol>
            <li>檢舉者的訴訟補助，不一定要規定在《食品安全衛生管法》。</li>
            <li>修法提供員工訴訟保障，是否會引發「道德風險」，遭受懲處員工因不滿公司處分而隨意濫用。</li>
        </ol>
    </div>
    <div class="ui pointing below label">
      <div class="editors_q">小編筆記</div>
    </div>
    <ul><li>員工隨意濫用的道德風險 vs 全民食的安全的權衡。</li></ul>
  </div><!-- end of position block -->


  <div class="ui divider"></div>


  <div id="text_content">
    <!-- <div id="text_nav">NAV</div> -->
  <!-- 修法背景 -->
  <h1 class="ui header">修法背景</h1>
  <p>民進黨立委田秋堇認為，「內部員工比稽察人員更知道工廠內部狀況」，應鼓勵員工檢舉。現行《食品安全衛生管理法》規定，食品業者不得因員工揭露食品業者違規而將員工調職、減薪、解僱，應明文立法規定，讓檢舉食品業者的「吹哨者」能獲得訴訟費用的保障，不因檢舉而影響生計。</p>

  <p>田秋堇並在提案中增修條文規定，揭發受理機關應對舉發者保密、並規定接獲揭發案必須七日內移轉至權責機構，避免「屏東老農跨縣市檢舉食品業者」公務員怠職不辦的狀況。</p>


  <!-- 對應條文 -->
  <h1 class="ui header">對應條文</h1>
  <p>《食品安全衛生管理法》第五十條、第五十之一至四條。</p>


  <!-- 對應條文 -->
  <h1 class="ui header">初審修法內容</h1>

  <p>田秋堇表示，這幾年許多不法舉報是由退休員工，希望「吹哨者條款」能讓不法廠商員工檢舉時不必冒著失去工的風險，因此希望能在法條中給予訴訟保障。</p>

  <p>田秋堇認為，最理想的狀況是勞工因檢舉遭解職、降職等處分而提起訴訟時，法院先行要求僱主支付律師、監測鑑定費用等相關費用。「老闆要解職你，必須先給你一筆錢，還不如把你留在公司，我要的是這樣。」她表示，如果法律積極提供協助，也許在頂新入主正義，解散原有榨豬油班時，遭資遣員工就能提出合理懷疑，進而檢舉業者，就不會爆出現在的假油風波。</p>

  <p>法務部認為，現行《勞基法》、或「法律扶助」等訴訟救助方式，都能讓勞工受到保障。「積欠工資」等勞資糾紛相關訴訟，依據《勞基法》可由國家提供部分訴訟補助。</p>

  <p>但法務部表示，以國家體制支付訴訟費用，原則上必須由原告先行負擔。司法院則補充，僱主若需預先為勞工支付訴訟費用，將面臨律師費用、監測鑑定等費用還未支出，不知道能給多少，在適法性上會出現問題。</p>

  <p>國民黨立委江惠貞則憂心，修法提供員工訴訟保障，是否會引發「道德風險」，遭受懲處員工因不滿公司處分而隨意濫用。</p>

  <!-- 初審後續 -->
  <h1 class="ui header">初審後續</h1>
  <p>因訴訟費用來源各黨未達共識而保留，送交院會黨團協商。</p>

  <h1 class="ui header">相關報導</h1>
  <div class="ui list">
  <a class="item link" href="http://bit.ly/1qYTOmV" target="_blank">
    <i class="right triangle icon"></i>
    食管法完成初審 綠委憂再遭大廠遊說翻盤 / 風傳媒
  </a>
  </div>



  <div><!-- end of text_content -->

</div><!-- end of ui segment -->
</div><!-- end of wrapper -->