<div id="content" class="wrapper">
  <div class="ui segment">
  
  <!-- <div class="ui ribbon red label">朝野協商處理</div>-->
  <h1 class="page_title">爭議四：「食安會報」入法  <div class="ui circular red label">尚無共識，朝野協商處理</div></h1>
  
  <div class="bullet_item">
      <div class="bullet_item_title">為何重要</div>
      <div class="bullet_item_inner">目前的食安會報是任務型編組，只有在問題發生時才開會因應，但應變會議無法常態處理食安問題。
      </div>  
  </div>
  <div class="bullet_item">
      <div class="bullet_item_title">最後決議</div>
      <div class="bullet_item_inner">食安會報將提升層級，常態負責食安問題，進行跨部會整合，由行政院長擔任召集人，至少每三個月開一次會。</div>
  </div>

  
  <div ng-include src="'partials/bill_progress.html'"></div>

  <div class="ui divider"></div>
  <div ng-include src="'partials/position_block.html'"></div>


  <div class="position_block">
    <div class="position_title position_title_for">支持理由</div>
    <div class="position_inner">
    <ol>
      <li>應變會議無法常態處理食安問題，有效進行跨部會整合。</li>
      <li>訂在母法，避免空白授權。</li>
    </ol>
    <!-- 小編想問 BLOCK-->
    </div>
  </div><!-- end of position block -->
  <div class="position_block">
    <div class="position_title position_title_against">異議理由</div>
    <div class="position_inner">
        <ol>
            <li>現有食品安全小組與食安會報屬性類似。</li>
            <li>《食管法》為「作用法」而非「組織法」，若要成立「委員會」應更改「行政院組織法」，否則會抵觸「中央行政機關組織基本法」。</li>
        </ol>
    </div>
    <!-- 小編想問 BLOCK-->

    
  </div><!-- end of position block -->

 
  <div class="ui divider"></div>
  
  
  <div id="text_content">
    <!-- <div id="text_nav">NAV</div> -->
  <!-- 修法背景 -->
  <h1 class="ui header">修法背景</h1>
  <p>原來的食安會報是由行政院副院長擔任召集人，為任務型編組，也就是，只有在問題發生時才開會因應。</p>
  <p>但民進黨委員認為，應變會議無法常態處理食安問題，有效進行跨部會整合，故提案修法。</p>


  <!-- 對應條文 -->
  <h1 class="ui header">對應條文</h1>
  <p>《食品安全衛生管理法》第二之一條。</p>

  
  <!-- 對應條文 -->
  <h1 class="ui header">初審修法內容</h1>
  
  <h4 class="ui header">「食安會報」實質入法</h4>
  
  <p>在民進黨團提的修法草案中，將食安會報實質入法，並提高會議層級，改成由行政院長擔任召集人、由政務委員擔任執行長，需邀及專家學者出席，每三個月召開一次，而且可以加開，並且，召集人每年需向立法院報告。</p>

  <p>因食安問題涉及不同單位，譬如本次食安危機，飼料油、工業油混入食用油，田秋堇成立「食品安全辦公室」，聘請專業人員，橫向整合各部會食安相關業務。</p>

  
  <h4 class="ui header">成立「食品安全委員會」</h4>

  <p>民進黨立委劉建國則認為「食安會報」成效不足，應建立「食品安全委員會」，進一步具有實體機關性質的單位，更有效進行跨部會整合，。</p>

  <p>法務部表示，《食管法》為「作用法」而非「組織法」，若要成立「委員會」應更改「行政院組織法」，否則會抵觸「中央行政機關組織基本法」。衛福部表示希望維持現行食安會報形式，，組織架構跟開會次數由專案辦公室自行統籌。但民進黨立委田秋堇表明應實質修法，「受夠空白授權了，應該要訂在母法。」</p>

  <p>衛福部代理部長林奏延初步同意民進黨提案版本，食安會報形式、院長擔任召集人，三個月開會一次並於必要時加開，但因牽涉組織法未同意設立「食品安全專案辦公室」。林奏延表示，希望階段性通過會報，並贊成未來設立獨立單位。</p>

  
  <!-- 初審後續 -->
  <h1 class="ui header">初審後續</h1>
  <p>國民黨立委王育敏表示，現有食品安全小組與食安會報屬性類似，是否需實質立法未達共識，初審保留，待朝野協商。</p>

  <p>但在法案尚未進入院會二、三讀，國安局先行於十月20日偕同警政署、調查局成立食安「預警會報」，並納入海巡署、移民署及憲指部等機關成員，加強查緝黑心食品；行政院則緊接著於十月22日成立常設性任務編組的食品安全辦公室。</p>

  <h1 class="ui header">相關報導</h1>
  <div class="ui list">
  <a class="item link" href="http://www.appledaily.com.tw/realtimenews/article/new/20141022/492241/" target="_blank">
    <i class="right triangle icon"></i>
    食安辦公室成立　與國安預警會報平行合作 / 蘋果日報
  </a>
  <a class="item link" href="http://bit.ly/1Drqmhh" target="_blank">
    <i class="right triangle icon"></i>
    多數條文無共識 將送朝野協商 / 風傳媒
  </a>
  </div>


  
  <div><!-- end of text_content -->

</div><!-- end of ui segment -->
</div><!-- end of wrapper -->