<div id="content" class="wrapper">
  <div class="ui segment"> 
  <h1 class="page_title">立場總覽：田秋堇</h1>

  <div class="ui divider"></div>

  <div class="position_block">
    <div class="position_main_title position_main_title_for">支持</div>
  </div>
  <div class="position_block">
    <div class="position_main_title position_main_title_against">反對</div>
  </div>


  <div class="position_block">
    <div class="position_title position_title_for"><h3 class="ui header">支持「吹哨者條款」</h3></div>
    <div class="position_inner">
        <div class="ui feed segment">
            <div class="event">
                <div class="label">
                <img class="avatar_image" 
                  ng-src="images/avatar/{{n.name}}.png" style="border-radius:5px"
                  err-src="images/candidate-not-found.jpg"
                  ng-class="{'KMT_image':n.party=='中國國民黨','DPP_image':n.party=='民主進步黨','PFP_image':n.party=='親民黨','TSU_image':n.party=='台灣團結聯盟','NP_image':n.party=='無黨籍','NPU_image':n.party=='無黨團結聯盟'}"></div>
                <div class="content">
                    <div class="summary">內部員工比稽察人員更知道工廠內部狀況」，應明定法律鼓勵員工檢舉。現行《食品安全衛生管理法》規定，食品業者不得因員工揭露食品業者違規而將員工調職、減薪、解僱，應明文立法規定，讓檢舉食品業者的「吹哨者」能獲得訴訟費用的保障，不因檢舉而影響生計。</div>
                </div>
            </div>   
            <div class="event">
                <div class="label"></div>
                <div class="content">
                    <div class="summary">我在提案中增修條文規定，揭發受理機關應對舉發者保密、並規定接獲揭發案必須七日內移轉至權責機構，避免「屏東老農跨縣市檢舉食品業者」公務員怠職不辦的狀況。</div>
                </div>
            </div>
        </div>
    </div>
  </div><!-- end of position block -->

  <div class="position_block">
    <div class="position_title position_title_against"><h3 class="ui header">反對「法人除罪化」</h3></div>
    <div class="position_inner">
        <div class="ui feed segment">
            <div class="event">
            <div class="label">
                <img class="avatar_image" style="border-radius:5px"
                  ng-src="images/avatar/{{n.name}}.png" 
                  err-src="images/candidate-not-found.jpg"
                  ng-class="{'KMT_image':n.party=='中國國民黨','DPP_image':n.party=='民主進步黨','PFP_image':n.party=='親民黨','TSU_image':n.party=='台灣團結聯盟','NP_image':n.party=='無黨籍','NPU_image':n.party=='無黨團結聯盟'}"></div>
            <div class="content">
                <div class="summary">
                 「法人除罪化」能追究魏應充刑責，但「頂新無代誌」，認為，立法是社會溝通的工程，必須讓人民知道正義能得到伸張。
                </div>
            </div>
        </div>
    </div>

  </div><!-- end of position block -->


 

</div><!-- end of ui segment -->
</div><!-- end of wrapper -->