<!DOCTYPE html>
<html ng-app="app">
  <head>
    <base href="/">
    <!-- Standard Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities -->
    <title>食品安全衛生管理法 | 國會無雙</title>
    <meta content="食品安全衛生管理法 | 修法爭議 | 國會無雙" property="og:site_name" />
    <meta content="食品安全衛生管理法 | 修法爭議 | 國會無雙" property="og:title" />
    <meta content="國會無雙" property="og:site_name" />
    <meta content="油品風暴延燒，《食品安全衛生管理法》修法受各界關注。《沃草》整理了委員會審查未達成決議，保留至朝野協商的「五大重點爭議」懶人包，讓大家一起關注《食管法》修法動態！" property="og:description" /><meta content="http://cdn.musou.tw/assets/og-image-592c6d4c740f3a470541f320ba1ff460.jpg" property="og:image" /><meta content="website" property="og:type" />
    <link href="http://cdn.musou.tw/assets/musou-favicon-92ac8d5b768e8283d8bf6cd8e1ab8df1.png" rel="icon" size="32x32" />

    <!-- SemanticUI -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="packaged/css/semantic.css">
    <link rel="stylesheet" href="hint.min.css"></link>
    <link type="text/css" rel="stylesheet" href="style.css">


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="packaged/javascript/semantic.js"></script>


    <!-- AngularJS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

    <script type='text/javascript' src="app.js"></script>


</head>
<body class="body">

    <div id="navigation">
        <!--<div class="nav_item_logo"><a href="//musou.tw" target="_blank"><img src="images/musou.svg"></a></div>-->

        <div class="nav" ng-controller="NavCtrl">
            <div class="nav_item_left_logo" ng-click="go('/')">

                <img class="small_icon" src="images/musou_logo.svg">
                <div class="nav_item_left_logo_inner">
                <span class="web">食品安全衛生管理法</span></div>
            </div>
            <div class="nav_item" ng-click="go('/food-safety/issue1')"
            ng-class="{'nav_item_active':isPath('/food-safety/issue1')}" >爭議一</div>
            <div class="nav_item" ng-click="go('/food-safety/issue2')"
            ng-class="{'nav_item_active':isPath('/food-safety/issue2')}" >爭議二</div>
            <div class="nav_item" ng-click="go('/food-safety/issue3')"
            ng-class="{'nav_item_active':isPath('/food-safety/issue3')}" >爭議三</div>
            <div class="nav_item" ng-click="go('/food-safety/issue4')"
            ng-class="{'nav_item_active':isPath('/food-safety/issue4')}" >爭議四</div>
            <div class="nav_item" ng-click="go('/food-safety/issue5')" ng-class="{'nav_item_active':isPath('/food-safety/issue5')}" >爭議五</div>

        </div>

    </div>

    <div ng-view></div>
    <div id="footer">

        <div class="footer_suggest">我們還在完善這份說明中，如果你有任何建議，<a class="suggest_link" href="mailto:info@watchout.tw">請告訴我們</a>。：）</div>
        <div class="wrapper">
            <br/>
            <a href="//musou.tw" target="_blank">
               <img src="images/musou_white.svg">
            </a>

        </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48524226-13', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    </script>

</body>
</html>
