<!DOCTYPE html>
<html ng-app="app">
  <head>
    <!-- <base href="/"> -->
    <!-- Standard Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities -->
    <title>食品安全衛生管理法 | 修法爭議</title>
    <meta content="食品安全衛生管理法" property="og:site_name" />
    <meta content="食品安全衛生管理法" property="og:title" />
    <meta content="食品安全衛生管理法"/>
    
    <!-- SemanticUI -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="packaged/css/semantic.css">
    <link rel="stylesheet" href="hint.min.css"></link>
    <link type="text/css" rel="stylesheet" href="style.css">
    

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="packaged/javascript/semantic.js"></script>
    
    
    <!-- AngularJS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

    <script type='text/javascript' src="app.js"></script>
    
   
</head>
<body class="body">
   
    <div id="navigation">
        <div class="nav" ng-controller="NavCtrl">
            <div class="nav_item" ng-click="go('/')">食品安全衛生管理法</div>
            <div class="nav_item" ng-click="go('/')">爭議一</div>
            
        </div>

    </div>

    <div ng-view></div>

</body>
</html>
