/* ------------------------------------------------------------ */
/* General Setup */
/* ------------------------------------------------------------ */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,"Heiti TC","Apple LiGothic Medium","微軟正黑體",sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  /* background: rgb(239, 237, 235); */
  color: rgb(55,53,54);
}
li{
  margin-top: 14px;
  line-height: 1.2;
}
p {
  font-size: 18px;
  line-height: 1.7;  
}
a {
  text-decoration: none;
}
a.link, a.link:visited {
  color: rgb(0, 185, 240);
}
.align_center {
  text-align: center;
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
  .mobi {
    display: none;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
  .mobi {
     display: none;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
  .web {
    display: none;
  }
  .mobi {
     display: inline-block;
  }

}
.page_wrapper {
   background: white;
}
.wrapper {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding:8px;
  box-sizing: border-box;

}
.nav_item {
    vertical-align: top;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    padding: 5px;
    padding-top: 15px;
    box-sizing: border-box;
}
.nav_item_logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 20px;
}
@media (max-width: 600px){
  .nav_item_logo{
    display: none;
  }
}
.nav_item_left_logo {
    vertical-align: top;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
}
.nav_item_left_logo_inner {
  padding-top: 10px;
  display: inline-block;
}
.small_icon {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 600px){
  .small_icon{
    padding-top: 5px;
    width: 25px;
  }
}

.nav_item_active {
  border-bottom: 5px solid rgb(53,55,54);
}
.nav_item_left_logo:hover, .nav_item:hover{
    background: rgb(242,240,241);
}
#navigation{
    z-index: 10;
    position: fixed;
    top: 0px;
    width:100%;
    background:rgb(230,231,226);
}
#content {
	margin-top: 60px;
}
#footer {
  width: 100%;
  height: 200px;
  background: rgb(65,61,58);
  color: rgb(247,245,243);
}
.suggest_link, .suggest_link:visited {
  color: rgb(53,55,54);

}
.suggest_link:hover {
  border-bottom: 1px solid rgb(53,55,54);
}
.footer_suggest {
  background: rgb(230,231,226);
  color: rgb(53,55,54);
  padding: 15px;
  text-align: center;
}
#text_content {
  max-width: 700px;
  position: relative;
}

@media screen and (min-width: 1000px){
  #text_nav {
    position: absolute;
    right: -250px;
    background: gray;
    height: 400px;
    width: 240px;
  }
}
@media screen and (max-width: 1000px){
  #text_nav {
    display: none;
  }
}
.color_red {
  color: rgb(214,90,90);
}
/* ------------------------------------------------------------ */
/* Index */
/* ------------------------------------------------------------ */
.page_title {
  
}
.bullet_item {
  display: relative;
  min-height: 30px;
  margin-top: 10px;
  clear: both
}
.bullet_item_title {
  border-left: 8px solid rgb(225,206,64);
  margin-bottom: 10px;
  font-weight: 700;
  padding: 0px 4px;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block;
}
.bullet_item_inner {
  width: 100%;
  display: block;
  padding-top: 4px;
  margin-bottom: 20px;
}
.bullet_item_list{
  margin-bottom: 10px;
}
.progress_block {
  text-align: center;
  margin-bottom: 30px;
}
.bullet_progress {
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  display: inline-block;
  position: relative;
}
.bullet_progress_hint {
  position: absolute;
  top:0px;
  font-size: 14px;
}
.bullet_progress_done {
  background: rgb(220,220,220);
}
.bullet_progress_active {
  background: rgb(225,206,64);
}
.bullet_progress_pending {
  border: 3px solid rgb(220,220,220);
  padding: 7px;
}

.position_block {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.position_main_title {
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  width: 80%;
  border-bottom: 5px dotted rgb(220,220,220);
  margin-bottom: 20px;
}
.position_main_title_for {
  color: rgb(89,186,112);
}
.position_main_title_against {
  color: rgb(214,90,90);
}
.position_title {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
}
.position_title_for {
  border-bottom: 6px solid rgb(89,186,112);
}
.position_title_against {
  border-bottom: 6px solid rgb(214,90,90);
}
.position_inner {
  padding: 6px;
  padding-left: 0px;
}
.editors_q {
  color: rgb(54,53,55);
  font-size: 18px;
  font-weight: 900;
  padding: 5px;
}
.position_inner ul{
  margin: 0px;
}
.avatar_item{
  cursor: pointer;
  width:50px;
  display: inline-block;
  margin: 2px;
  background: white;
  vertical-align: top;
  padding:3px;
  border: 1px solid white;
}
.avatar_item_active {
  background: rgb(230,230,230);
  border: 1px solid rgb(130,130,130);
}

.avatar_image{
  width:48px;
  height: 50px;
  border: 10px;
  border-radius: 10px;
  background: white;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
}
.avatar_name {
  font-size: 10px;
  text-align: center;

}
.KMT_image{
  border-color: #3288bd;
}
.DPP_image{
  border-color: #7fbc41;
}
.PFP_image{
  border-color: orange;
}
.TSU_image{
  border-color: #b35806;
}
.NP_image{
  border-color: gray;
}
.NPU_image{
  border-color:rgba(194,15,81,0.9);
}
.p_highlight {
  background: rgba(225,206,64,1);
  padding: 5px;
}
/* -------------- */

/* -------------- */
.reason {
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: top;
}
/* -------------- */

/* -------------- */
.cover_img {
  width: 100%;
}
.cover_title {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
}
.index_issue {
  border: 1px solid rgb(230,231,226);
  border-bottom: 10px solid rgb(230,231,226);
  width: 48%;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;

}
@media screen and (max-width: 600px){
  .index_issue {
    width: 100%
  }
}
.index_passed ul, .index_passed li{
  font-size: 18px;
}
.index_passed_title {
  display: inline-block;
  font-weight: 800;
  color: rgb(55,53,54);
  
}
.index_issue_inner{
  padding: 10px;
  position: relative;
}
.goseeblock {
  text-align: right;
}
.goseebutton {
  margin-top: 10px;
  bottom: 10px;
  display: inline-block;
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(73,75,74);
  font-size: 18px;
  cursor: pointer;
}
.goseebutton:hover {
  background: rgb(53,55,54);/*rgb(230,231,226);*/
  color: white;
  transition: background 0.5s ease;
}




